# testing_SPL

# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# buildtool cache folder
.buildtool/

# infrared-rodent-detection:

infrared-rodent-detection/models
infrared-rodent-detection/data
infrared-rodent-detection/demo

infrared-rodent-detection/results
infrared-rodent-detection/rodent_dataset
infrared-rodent-detection/detection_dataset

infrared-rodent-detection/.vscode
__pycache__
infrared-rodent-detection/other

infrared-rodent-detection/*.pt
infrared-rodent-detection/*.lnk

infrared-rodent-detection/Spinnaker